div {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:flex-start;
}

p {
  height:150px;
  width:100px;
  margin-left:10px;

  /* font:Tahoma 40px; */
  font-fammily:"Tahoma";
  font-size:40px;
  display:inline-block;
  /* line-height:100%; */
  text-align:left;

  border-left:10px dotted #D0D0FF;
  background-color:#eeeff2;

  padding-left:10px;
}
p:hover{
  /* font-color:goldenrod; */
  color:goldenrod;
  background-color:yellow;
  cursor:pointer;
}

/* p:nth-last-child(1){ */
/*   position: absolute; */
/*   margin-top: 100%; */
/*   margin-left: 100%; */
/* } */

p:nth-last-child(1) {
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin-right: 0;
}
